* {
    box-sizing: border-box;
}

body {
    background-color: #edeff2;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.chat_window {
    position: absolute;
    width: 100%;
    max-width: 1100px;
    height: 100%;
    max-height: 888px;
    border-radius: 8px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.top_menu {
    background-color: #f6f6f6;
    width: 100%;
    height: 50px;
    padding: 12px 0;
}

.top_menu .toggler {
    position: absolute;
    left: 15px;
    top: 5px;
    width: 40px;
    height: 40px;
    padding: 5px 7px;
    border-radius: 4px;
    cursor: pointer;
}

.top_menu .title {
    text-align: center;
    color: #909090;
    font-size: 20px;
}

.messages {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 647px;
    overflow-x: hidden;
    overflow-y: auto;
}

.messages::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.messages::-webkit-scrollbar-track {
    background-clip: padding-box;
    background: transparent;
    border: solid transparent;
    border-width: 1px;
}

.messages::-webkit-scrollbar-corner {
    background-color: transparent;
}

.messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    border: solid transparent;
    border-radius: 10px;
}

.messages::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s linear;
    opacity: 0;
}

.messages .message.left .avatar {
    background-color: #f5886e;
    float: left;
}

.messages .message.left .text_wrapper {
    background-color: #ffe6cb;
    margin-left: 20px;
}

.messages .message.left .text_wrapper::after,
.messages .message.left .text_wrapper::before {
    right: 100%;
    border-right-color: #ffe6cb;
}

.messages .message.left .text {
    color: #c48843;
}

.messages .message.right .avatar {
    background-color: #fdbf68;
    float: right;
}

.messages .message.right .text_wrapper {
    background-color: #c7eafc;
    margin-right: 20px;
    float: right;
}

.messages .message.right .text_wrapper::after,
.messages .message.right .text_wrapper::before {
    left: 100%;
    border-left-color: #c7eafc;
}

.messages .message.right .text {
    color: #45829b;
}

.messages .message.appeared {
    opacity: 1;
}

.messages .message .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
}

.messages .message .text_wrapper {
    display: inline-block;
    padding: 20px;
    border-radius: 6px;
    width: calc(100% - 85px);
    min-width: 100px;
    position: relative;
}

.messages .message .text_wrapper::after,
.messages .message .text_wrapper:before {
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.messages .message .text_wrapper::after {
    border-width: 13px;
    margin-top: 0px;
}

.messages .message .text_wrapper::before {
    border-width: 15px;
    margin-top: -2px;
}

.messages {
    font-size: 16px;
    color: #343541;
}

#chatlog>div {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

#chatlog .response {
    background: #f7f7f8;
}

#chatlog .response>pre {
    overflow-x: auto;
    padding: 10px;
    position: relative;
    background: rgba(180, 180, 180, 0.1);
}

.m-mdic-copy-wrapper {
    position: absolute;
    top: 5px;
    right: 16px;
}

.m-mdic-copy-wrapper span.u-mdic-copy-code_lang {
    position: absolute;
    top: 3px;
    right: calc(100% + 4px);
    font-family: system-ui;
    font-size: 12px;
    line-height: 18px;
    color: #555;
    opacity: 0.3;
}

.m-mdic-copy-wrapper div.u-mdic-copy-notify {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 6px;
    border: 0;
    border-radius: 3px;
    background: none;
    font-family: system-ui;
    font-size: 12px;
    line-height: 18px;
    color: #555;
    opacity: 0.3;
    outline: none;
    opacity: 1;
    right: 100%;
    padding-right: 4px;
}

.m-mdic-copy-wrapper button.u-mdic-copy-btn {
    position: relative;
    top: 0;
    right: 0;
    padding: 3px 6px;
    border: 0;
    border-radius: 3px;
    background: none;
    font-family: system-ui;
    font-size: 12px;
    line-height: 18px;
    color: #555;
    opacity: 0.3;
    outline: none;
    cursor: pointer;
    transition: opacity 0.2s;
}

.m-mdic-copy-wrapper button.u-mdic-copy-btn:hover {
    opacity: 1;
}

#chatlog .response>pre::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#chatlog .response>pre::-webkit-scrollbar-track {
    background-clip: padding-box;
    background: transparent;
    border: solid transparent;
    border-width: 1px;
}

#chatlog .response>pre::-webkit-scrollbar-corner {
    background-color: transparent;
}

#chatlog .response>pre::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    border: solid transparent;
    border-radius: 10px;
}

#chatlog .response>pre::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.bottom_wrapper {
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 20px 20px;
    position: absolute;
    bottom: 0;
}

.bottom_wrapper .message_input_wrapper {
    display: flex;
    border: none;
    width: calc(100% - 110px);
    position: relative;
    text-align: left;
}

.bottom_wrapper .message_input_wrapper .message_input_text {
    border-radius: 6px;
    border: 1px solid #d9d9e3;
    border-color: rgba(0, 0, 0, .1);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
    outline: none;
    resize: none;
    box-sizing: border-box;
    height: 50px;
    font-size: 16px;
    overflow-y: hidden;
    max-height: 200px;
    padding: 13px 0 16px 16px;
    width: 100%;
}

.bottom_wrapper .message_input_wrapper .message_input_text::placeholder {
    color: gray;
}

.bottom_wrapper .send_message {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #f8b26a;
    border: none;
    padding: 0;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
    float: right;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.bottom_wrapper .send_message:hover {
    background-color: #f8b26a;
}

.bottom_wrapper .send_message .text {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
}

.message_template {
    display: none;
}


.loaded>span {
    display: inline-block;
}

.loaded>svg {
    display: none;
}

.loading {
    background: #f7f7f8 !important;
}

.loading>span {
    display: none;
}

.loading>svg {
    display: block;
}
#loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
#loading .spinner {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 100%;
    border: 3px solid transparent;
    border-top-color: #fff;
    animation: spin .75s linear infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}