<!DOCTYPE html>
<html>
<head>
  <title>资料列表</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<style>
    body{
        margin: 35px;
    }
</style>
</head>
<body>
  <div>
    <h5><a href="/"> 返回 </a> | <label>资料列表</label></h5>
  </div>
  <table id="file-table" class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">名称</th>
        <th scope="col">更新时间</th>
        <th scope="col">操作</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
<!--  <div id="pagination"></div>-->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script>
    var currentPage = 1;
    var pageSize = 10;
    $(document).ready(function() {
      getUserList(currentPage, pageSize);
    });
    function getUserList(pageIndex, pageSize) {
      $.ajax({
        url: '/files?page=' + pageIndex + '&size=' + pageSize,
        type: 'GET',
        success: function(data) {
          // 清空文件列表
          $('#file-table tbody').empty();

          // 填充用户列表
          for (var i = 0; i < data.items.length; i++) {
            var resource = data.items[i];
            var row = '<tr><td>' + resource.id + '</td><td>' + resource.name + '</td><td width="200">' + resource.updated_time + '</td><td width="65"> <a href="#" onclick=confirmDel("'+ resource.id + '")>删除</a></td></tr>';
            $('#file-table tbody').append(row);
          }

          // 更新分页栏
          /*
          currentPage = data.pageIndex;
          pageSize = data.pageSize;
          var totalPage = Math.ceil(data.totalCount / pageSize);
          var pagination = '<ul class="pagination">';
          if (currentPage > 1) {
            pagination += '<li class="page-item"><a class="page-link" href="#" onclick="getUserList(' + (currentPage - 1) + ',' + pageSize + ')">上一页</a></li>';
          }
          for (var i = 1; i <= totalPage; i++) {
            if (i == currentPage) {
              pagination += '<li class="page-item active"> <a  class="page-link" >' + i + '</a></li>';
            } else {
              pagination += '<li class="page-item"><a class="page-link" href="#" onclick="getUserList(' + i + ',' + pageSize + ')">' + i + '</a></li>';
            }
          }
          if (currentPage < totalPage) {
            pagination += '<li class="page-item"><a class="page-link" href="#" onclick="getUserList(' + (currentPage + 1) + ',' + pageSize + ')">下一页</a></li>';
          }
          pagination += '</ul>';
          $('#pagination').html(pagination);
          */
        }
      });
    }

    function confirmDel(id){
      if (confirm("确定要删除文件吗？")) {
        window.location.href="/delfile?id="+id;
      }else{
        return;
      }
    }
  </script>
</body>
</html>