<!DOCTYPE html>
<html lang="zh-CN">
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="description" content="基于OpenAI的私有资料库" />

<head>
    <meta charset="UTF-8">
    <title>Chat-MyLib</title>
    <link href="/static/css/index.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="overlay"></div>
    <div id="loading">
        <div class="spinner"></div>
    </div>
    <div>
        <div class="chat_window">
            <div class="top_menu">
                <div class="buttons">
                    <div class="button close"></div>
                    <div class="button minimize"></div>
                    <div class="button maximize"></div>
                </div>
                <div class="title">基于OpenAI的私有资料库</div>
                <div id="upload">
                    <label for="fileInput"> 上传资料</label>
                    <input type="file" id="fileInput" style="display:none;">
                    <label onclick="gotoAdmin()">｜资料列表</label>
                    <label onclick="feedback()">｜反馈</label>
                    <label onclick="setKey()">｜key</label>
                </div>
            </div>
            <ul class="messages">
                <div style="text-align: left;">

                    <pre style="white-space: pre-wrap; word-wrap:break-word" id="chatlog">
                        <div class="response markdown-body">搭建本系统到您自己的服务器上，可以用于以下场景：<br><br>场景A：智能客服。<br>将用户手册、客户FQA等内容上传至系统，系统可根据资料内容回答客户的问题。<br><br>场景B：内部资料检索。<br>将内部资料（如员工手册、企业知识等）上传至系统，员工即可用问答的方式获得内容。
                        </div>
                    </pre>
                </div>
            </ul>
            <div class="bottom_wrapper clearfix">
                <div class="message_input_wrapper">
                    <textarea class="message_input_text" spellcheck="false" placeholder="点击右上角[上传资料]，然后试一试对资料内容提问。"
                        id="chatinput"></textarea>
                </div>
                <button class="send_message loaded" id="sendbutton">
                    <span>发送</span>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        style="margin: 0 auto;height: 50px;" viewBox="0 0 200 100" preserveAspectRatio="xMidYMid">
                        <g transform="translate(50 50)">
                            <circle cx="0" cy="0" r="15" fill="#e15b64">
                                <animateTransform attributeName="transform" type="scale" begin="-0.3333333333333333s"
                                    calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0"
                                    keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite"></animateTransform>
                            </circle>
                        </g>
                        <g transform="translate(100 50)">
                            <circle cx="0" cy="0" r="15" fill="#f8b26a">
                                <animateTransform attributeName="transform" type="scale" begin="-0.16666666666666666s"
                                    calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0"
                                    keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite"></animateTransform>
                            </circle>
                        </g>
                        <g transform="translate(150 50)">
                            <circle cx="0" cy="0" r="15" fill="#99c959">
                                <animateTransform attributeName="transform" type="scale" begin="0s" calcMode="spline"
                                    keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s"
                                    repeatCount="indefinite"></animateTransform>
                            </circle>
                        </g>
                    </svg>
                </button>
                <button id="clearConv"><svg data-hk="s00-2-1-0" xmlns="http://www.w3.org/2000/svg"
                        style="margin:0 auto;display:block" width="20px" height="20px" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M8 20v-5h2v5h9v-7H5v7h3zm-4-9h16V8h-6V4h-4v4H4v3zM3 21v-8H2V7a1 1 0 0 1 1-1h5V3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v3h5a1 1 0 0 1 1 1v6h-1v8a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z">
                        </path>
                    </svg></button>
            </div>
        </div>
    </div>
    <link href="http://cdn.staticfile.org/github-markdown-css/5.2.0/github-markdown-light.min.css" rel="stylesheet">
    <link href="http://cdn.staticfile.org/highlight.js/11.7.0/styles/github.min.css" rel="stylesheet">
    <script src="http://cdn.staticfile.org/markdown-it/13.0.1/markdown-it.min.js"></script>
    <script src="http://cdn.staticfile.org/highlight.js/11.7.0/highlight.min.js"></script>
    <link rel="stylesheet" href="http://cdn.staticfile.org/KaTeX/0.16.4/katex.min.css">
    <script src="http://cdn.staticfile.org/KaTeX/0.16.4/katex.min.js"></script>
    <link rel="stylesheet" href="http://npm.elemecdn.com/markdown-it-texmath@1.0.0/css/texmath.css">
    <script src="http://npm.elemecdn.com/markdown-it-texmath@1.0.0/texmath.js"></script>
    <script src="/static/js/index.js"></script>
</body>

</html>